/*-------------------------------------------------
    # General
--------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
}

// :root{
//     --web-wash:$colorbody
//     --secondary-button-background:rgb(255 255 255 / 10%);
// }

$color-bg-body :rgba(24, 25, 27, 255);
$color-text : #e4e6eb;
$color-bg-active:#2e89ff;
$color-bg-btn :rgba(255, 255, 255, 10%);
$color-bg-header :rgba(36, 37, 39, 255);
$color-bg-textbox:rgba(75, 76, 80, 255);
$color-hover:rgba(78, 79, 81, 255);
$color-hover2:rgba(78, 79, 81, 255);
$color-searchbox:rgba(58, 59, 61, 255);

body {
    font-family: 'Roboto', sans-serif;
    background-color: $color-bg-body;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*-------------------------------------------------
    # heeder
--------------------------------------------------*/
#header {
    background-color: $color-bg-header;
    // padding: 4px;
    color: $color-text;
    position: fixed;
    width: 100%;

    .main-header {
        display: flex;
        justify-content: space-between;

        .logo-header {
            display: flex;

            figure {
                padding: 7px 0;

                img {
                    width: 40px;
                    margin-right: 10px;
                }
            }

            .search {

                position: relative;
                padding: 9PX 0;

                i {
                    position: absolute;
                    left: 7%;
                    top: 35%;
                    color: #aaa;
                    font-size: .9375rem;
                }

                input {
                    padding: 0px 0px 0px 40px;
                    height: 40px;
                    background: rgba(58, 59, 61, 255);
                    border: 0;
                    border-radius: 50px;
                    width: 100%;
                    color: $color-text;
                    font-size: .9375rem;
                    &:focus{
                        border: 0;
                        outline: none;
                    }
                }
            }
        }
    }

}