/*-------------------------------------------------
    # General
--------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #18191b;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*-------------------------------------------------
    # heeder
--------------------------------------------------*/
#header {
  background-color: #242527;
  color: #e4e6eb;
  position: fixed;
  width: 100%;
}

#header .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#header .main-header .logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 27%;
  -webkit-box-shadow: 0px 0px 18px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 18px 11px rgba(0, 0, 0, 0.1);
}

#header .main-header .logo-header figure {
  padding: 7px 0;
}

#header .main-header .logo-header figure img {
  width: 40px;
  margin-right: 10px;
}

#header .main-header .logo-header .arrow-back-header {
  display: none;
}

#header .main-header .logo-header .arrow-back-header #head-arrow {
  margin: 9px 9px;
  color: #aaa;
  border-radius: 50px;
  font-size: 36px;
  display: inline-block;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

#header .main-header .logo-header .arrow-back-header #head-arrow:hover {
  background: #3a3b3d;
}

#header .main-header .logo-header .search {
  position: relative;
  padding: 9PX 0;
}

#header .main-header .logo-header .search i {
  position: absolute;
  left: 7%;
  top: 35%;
  color: #aaa;
  font-size: .9375rem;
}

#header .main-header .logo-header .search input {
  padding: 0px 0px 0px 40px;
  height: 40px;
  background: #3a3b3d;
  border: 0;
  border-radius: 50px;
  width: 100%;
  color: #e4e6eb;
  font-size: .9375rem;
}

#header .main-header .logo-header .search input:focus {
  border: 0;
  outline: none;
}

#header .main-header .logo-header .recent-search {
  background-color: #242527;
  position: absolute;
  top: 58px;
  left: 0;
  width: 27%;
  -webkit-box-shadow: 0px 0px 18px 11px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 18px 11px rgba(0, 0, 0, 0.1);
  color: #e4e6eb;
  display: none;
}

#header .main-header .logo-header .recent-search .title-section {
  padding: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 11px;
  padding: 13px 20px 0px 20px;
}

#header .main-header .logo-header .recent-search .title-section p {
  color: #e4e6eb;
  font-weight: 600px;
}

#header .main-header .logo-header .recent-search .title-section a {
  color: #2e89ff;
  text-decoration: none;
}

#header .main-header .logo-header .recent-search ul {
  padding: 0px 11px;
}

#header .main-header .logo-header .recent-search ul li {
  list-style: none;
}

#header .main-header .logo-header .recent-search ul li a {
  padding: 13px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #e4e6eb;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#header .main-header .logo-header .recent-search ul li a:hover {
  background: #2f2f2f;
}

#header .main-header .logo-header .recent-search ul li a i {
  font-size: 20px;
  color: #aaa;
}

#header .main-header .logo-header .recent-search ul li a .bi-x {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#header .main-header .logo-header .recent-search ul li a .bi-x:hover {
  background: #4e4f51;
}

#header .main-header .logo-header .recent-search ul li a span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */